@using Nancy.ViewEngines
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@Model.MasterPage.Title</title>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css"/>
    @RenderSection("Scripts", required: false)
</head>
<body>

    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">@Model.MasterPage.AppTitle</h3>
            <nav>
                <ul class="nav masthead-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li>
                        @If.MasterPage.IsAuthenticated
                        <a href="/login">Login</a>
                        @EndIf
                        @IfNot.MasterPage.IsAuthenticated
                        <form id="logoutform" method="post" action="/logout">
                            <input type=submit value="Logout" />
                        </form>
                        @EndIf
                    </li>
                </ul>
            </nav>
        </div>
    </div>


<div class="container">
    @RenderBody()
</div>

<div class="mastfoot">
    <div class="inner">
        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
</div>
</body>
</html>